################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/CustomerFlow.sln
/.vs/CustomerFlow/FileContentIndex
/.vs/CustomerFlow/v17/.suo
